<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trading Platform</title>

    <!-- Bootstrap core CSS -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link href="../static/dist/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/dist/bootstrap/js/bootstrap.min.js" >


	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css" rel="stylesheet"
		type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>



    <link href="../static/dist/bootstrap/css/signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please login</h2>
        <label class="sr-only">Username</label>
        <input id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" onclick="login()" >Login</button>

			

<!-- Button trigger modal -->
<button type="button" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#myModal">
  Register
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <div class="modal-body">

	          <label for="inputEmail" class="sr-only">Username</label>
        <input id="username_reg" class="form-control" placeholder="Username" required autofocus>
		<br/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="password_reg" type="password" class="form-control" placeholder="Password" required>

	  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="register()">Register</button>
      </div>
    </div>
  </div>
</div>
				
</form>

</div> <!-- /container -->

<script type="text/javascript">
	function register(){
		 var  username=document.getElementById("username_reg").value;
		 var  password=document.getElementById("password_reg").value;
		
		 if (username==""||password=="")
		 {
			BootstrapDialog.alert("Username and Password must be filled up");
	 		return;
	     }
		
		$.ajax({
		type: "POST",
		url: "register",
		data: {"username" : username,
				"password" : password},
		dataType: 'text',
		success: function(msgResult){
			if (msgResult=='1\n')
				BootstrapDialog.alert("Register succeeded");
			else
				BootstrapDialog.alert("Register failed");
			
		},
		error: function(XMLHttpRequest, textStatus, errorThrown){
			BootstrapDialog.alert('Time out' + textStatus);
			}
		});
			
	}
	
	
	
	function login() {
		 var  username=document.getElementById("inputUsername").value;
		 var  password=document.getElementById("inputPassword").value;
		
		 if (username==""||password=="")
		 {
			BootstrapDialog.alert("Username and Password must be filled up");
	 		return;
	     }
		$.ajax({
			type: "POST",
			url: "http://160.39.141.95:8000/login",
			data: {"username" : username,
					"password" : password},
			dataType: 'text',
			success: function (msgResult){
				if (msgResult=="1\n") {
					self.location="http://160.39.141.95:8000/index";
				}
				else
					BootstrapDialog.alert("Username and Password don't match");
			},
			error: function(XMLHttpRequest, textStatus, errorThrown){
				BootstrapDialog.alert('Time out' + textStatus);
				}
		});	 
		 
	}
</script>


	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
